{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": ["recommended-type-checked", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {},
  "ignorePatterns": ["proto/**/*"]
}
